<div class="container mt-5">
  <div class="card">
    <div class="body">
      <h2 class="text-center"><%= @cocktail.name %></h2>



      <table class="table flex">
        <thead>
          <tr>
            <th>Dose</th>
            <th>Ingredient</th>
          </tr>
        </thead>

        <tbody>
          <% @cocktail.doses.each do |dose| %>
            <tr>
              <td><%= dose.description %></td>
              <td><%= dose.ingredient.name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <div>
        <p>
          <%= link_to 'Add dose', new_cocktail_dose_path(@cocktail), class: 'btn btn-success d-flex justify-content-center' %>
        </p>

        <p>
          <%= link_to 'Back', cocktails_path, class: 'btn btn-primary d-flex justify-content-center' %>
        </p>
      </div>
    </div>
  </div>
</div>
